/* BOX-SIZING */
* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0 0 0 var(--static-space-12);
}

li {
    padding: 0;
    line-height: 175%;
    font-size: inherit;
    color: inherit;
    margin-bottom: var(--static-space-12);
    padding-left: var(--static-space-8);

    &::marker {
        color: var(--brand-on-background-weak);
    }
}

img {
    user-select: none;
}

/* SELECTION */
::selection {
    background: var(--neutral-on-background-medium);
    color: var(--neutral-background-strong);
}

/* LINK */
a:not(.button) {
    color: var(--brand-on-background-medium);
    text-decoration: none;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.25em;
    text-decoration-color: var(--neutral-border-strong) !important;

    &:hover {
        text-decoration-line: underline;
    }
}

/* SCROLLBAR */
::-webkit-scrollbar {
    background: var(--static-transparent);
    width: var(--static-space-8);
    height: var(--static-space-8);
}

::-webkit-scrollbar-track {
    background: var(--static-transparent);
}

::-webkit-scrollbar-thumb {
    background: var(--neutral-alpha-medium);
    transition: var(--transition-micro-medium);

    &:hover {
        background: var(--neutral-alpha-strong);
    }
}

::-webkit-scrollbar-corner {
    background-color: var(--static-transparent);
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 1.5rem 0;
    border: 1px solid #e5e7eb;
  }
  
  th {
    background-color: #edf0eb;
    font-weight: 600;
    text-align: left;
    padding: 0.75rem;
    border-bottom: 1px solid #e5e7eb;
    color: #000000;;
  }
  
  td {
    padding: 0.75rem;
    border-bottom: 1px solid #e5e7eb;;
    color: #4b5563;
   
  }

  tr:nth-child(odd) {
    background-color:  #ffffff;
  }

  tr:nth-child(even) {
    background-color: #f6f8f5;
  }

  /* Alternating columns - this requires CSS :nth-child selectors */
  td:nth-child(even), th:nth-child(even) {
    background-color: #f6f8f5;
  }
  
  caption {
    caption-side: top;
    padding: 0.5rem 0;
    font-weight: 600;
    text-align: center;
    color: #fbfbfb;
  }
  
  tfoot {
    background-color: #f3f4f6;
    font-weight: 600;
    color: #000;
  }
  
/* Styling for datasheet links in Table */
  .tablecell a:hover {
    color: #122e6e; /* Darker blue on hover */
    text-decoration: underline;
  }

  .tablecell a {
    color: #0e7e1f;
    font-weight: 600;


  }